@model Project_Manager.Models.Project

@{
    ViewData["Title"] = "Project Tasks";
    var userRole = ViewBag.UserRole as string;
}

<h1>@Model.Title - Tasks</h1>

<a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Back to Project Details</a>
@if (userRole == "Admin" || userRole == "Moderator")
{
    <a asp-action="Create" asp-controller="Task" asp-route-projectId="@Model.Id" class="btn btn-primary">Add Task</a>
}

<a asp-controller="Task" asp-action="AssignedTasks" class="btn btn-secondary">My Assigned Tasks</a>


<div id="taskList">
    @foreach (var task in Model.Tasks.Where(t => t.ParentTaskId == null))
    {
        @await Html.PartialAsync("~/Views/Task/_TaskPartial.cshtml", task)
    }
</div>

