@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Project" asp-action="Index" class="btn btn-primary">Projects</a>
    <a asp-controller="UserInvitations" asp-action="Index" class="btn btn-primary">My Invitations</a>
    
}
else
{
    
}
